@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<!doctype html>
<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1,shrink-to-fit=no">
    <title>@ViewData["Title"] - OfficeTruck</title>
    <link rel="shortcut icon" href="~/images/favicon.png">
    <partial name="~/Views/Shared/_Css.cshtml"/>
    @RenderSection("Css", required: false)
</head>
<body>
    <div id="app">
        <div class="container-scroller">
        @RenderSection("Nav", required: false)
        @RenderBody()  
        </div>
    </div>
    @RenderSection("Footer", required: false)
    <partial name="~/Views/Shared/_Js.cshtml"/>
    @RenderSection("Scripts", required: false)
</body>
</html>